@(user:User)(semesteruser: Semesteruser)(lecture: Lecture)

@dashboard.dashboard(user){
  <div class="col-md-8 well well-sm">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">@Messages("lecture.home.admin")</a></li>

       <li><a href="#editor" data-toggle="tab">@Messages("lecture.home.correction")</a></li>

      <li><a href="#forum" data-toggle="tab">@Messages("lecture.home.forum")</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.des")
          <button class="btn btn-link"  data-toggle="modal" data-target="#descriptionModal">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <span class="label label-info pull-right">@lecture.courseName</span>
          <span class="label label-success pull-right">@lecture.semester</span>
        </div>
        <div class="panel-body">
          <span class="label label-warning">@Messages("lecture.closingdate")@lecture.closingdate</span>
          <hr>
          @lecture.desription
        </div>
      </div>
      @if(lecture.localrepo){
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.terms")
          <button class="btn btn-link"  data-toggle="modal" data-target="#termsModal">
            <i class="fa fa-pencil-square-o"></i>
          </button>
        </div>
        <div class="panel-body">
          <ul>
            <li>@Messages("lecture.numberofassignments") @lecture.totalassignment,@Messages("lecture.atleast") @lecture.requriednumberofvalidassignment @Messages("lecture.validinfo")</li>
            <li>@Messages("lecture.validassignmentinfo")@lecture.requiredpercentfovalidassignment</li>
            <li>@Messages("lecture.validexaminfo")@lecture.minimumPercentageForExamination </li>
            <li>@Messages("lecture.validoptionalinfo")@lecture.optionalassignments@Messages("lecutre.validoptionalinfo1")</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.homeworks")
          <button title="Create new homework" class="btn btn-link"  data-toggle="modal" data-target="#assignmentModal">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="panel-body">
        @Messages("lecture.home.homework")
        </div>
        <table class="table table-striped custab">
          <thead>
            <tr>
              <th>@Messages("assignment.title")</th>
              <th>@Messages("assignment.exercise")</th>
              <th>@Messages("lecture.form.addionalinfo")</th>
              <th  class="text-center">@Messages("assignment.action")</th>
              <th>@Messages("assignment.status")</th>
              <th>@Messages("assignment.expired")</th>
            </tr>
          </thead>
          @for(currentassignment <- lecture.assignments){
            <tr>
              <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
              <td>@currentassignment.numberofexercise</td>
              <td>@currentassignment.addtionalinfo</td>
              <td  class="text-center">
                <a data-toggle="modal" data-target="#@currentassignment.id" title="@Messages("Assignment.modify")"><i class="fa fa-pencil-square-o"></i></a>
                <a title="@Messages("delete.assignment")" href="@controllers.lectures.admin.routes.Lecturehome.deleteAssignment(lecture.courseName,currentassignment.title,lecture.semester)"><i class="fa fa-times"></i></a>
              </td>
              <td>@if(Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester)!=null){Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester).size()}else{
                0}/@if(Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)!=null){Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()}else{0}</td>
              <td>@currentassignment.deadline</td>
            </tr>
            <div class="modal fade" id="@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modassignment")</h4>
                  </div>
                  <div class="modal-body">
                    <form action="@controllers.lectures.admin.routes.Lecturehome.modifyassignment(currentassignment.id,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-xs-6">
                          <label>@Messages("Number.exercise")</label>
                          <input type="number" class="form-control" name="numberofexercise" value="@currentassignment.numberofexercise">
                        </div>
                        <div class="col-xs-6">
                          <label>@Messages("deadline")</label>
                          <input type="date" class="form-control" name="deadline" value="@currentassignment.deadline.format("yyyy-MM-dd")">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>@Messages("lecture.action.upload")</label>
                        <input type="file" name="uploadfile">
                      </div>

                      <samp class="alert-link">@Messages("Lecture.assignment.path")@currentassignment.filename</samp>


                      @*todo:add more file also delte file*@
                      <div class="form-group">
                        <label>@Messages("lecture.form.addionalinfo")</label>
                        <textarea class="form-control"  name="addtionalinfo" rows="10">@currentassignment.addtionalinfo</textarea>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                      <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          }
        </table>
      </div>
      } else {
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.terms")
          </div>
          <div class="panel-body">
          @Messages("lecture.home.terms.remote")
          </div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.homeworks")
            <button title="Create new homework" class="btn btn-link"  data-toggle="modal" data-target="#assignmentModal">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="panel-body">
          @Messages("lecture.home.homework.remote.admin")
          </div>
          <table class="table table-striped custab">
            <thead>
              <tr>
                <th>@Messages("assignment.title")</th>
                <th>@Messages("assignment.exercise")</th>
                <th>@Messages("lecture.form.addionalinfo")</th>
                <th  class="text-center">@Messages("assignment.action")</th>
                <th>@Messages("assignment.status")</th>
                <th>@Messages("assignment.expired")</th>
              </tr>
            </thead>
            @for(currentassignment <- lecture.assignments){
              <tr>
                <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
                <td>@currentassignment.numberofexercise</td>
                <td>@currentassignment.addtionalinfo</td>
                <td  class="text-center">
                  <a data-toggle="modal" data-target="#@currentassignment.id" title="@Messages("Assignment.modify")"><i class="fa fa-pencil-square-o"></i></a>
                  <a title="@Messages("delete.assignment")" href="@controllers.lectures.admin.routes.Lecturehome.deleteAssignment(lecture.courseName,currentassignment.title,lecture.semester)"><i class="fa fa-times"></i></a>
                </td>
                <td>@if(Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester)!=null){Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester).size()}else{
                  0}/@if(Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)!=null){Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()}else{0}</td>
                <td>@currentassignment.deadline</td>
              </tr>
              <div class="modal fade" id="@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modassignment")</h4>
                    </div>
                    <div class="modal-body">
                      <form action="@controllers.lectures.admin.routes.Lecturehome.modifyassignment(currentassignment.id,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-xs-6">
                            <label>@Messages("Number.exercise")</label>
                            <input type="number" class="form-control" name="numberofexercise" value="@currentassignment.numberofexercise">
                          </div>
                          <div class="col-xs-6">
                            <label>@Messages("deadline")</label>
                            <input type="date" class="form-control" name="deadline" value="@currentassignment.deadline.format("yyyy-MM-dd")">
                          </div>
                        </div>

                        <div class="form-group">
                          <label>@Messages("lecture.action.upload")</label>
                          <input type="file" name="uploadfile">
                        </div>

                        <samp class="alert-link">@Messages("Lecture.assignment.path")@currentassignment.filename</samp>


                        @*todo:add more file also delte file*@
                        <div class="form-group">
                          <label>@Messages("lecture.form.addionalinfo")</label>
                          <textarea class="form-control"  name="addtionalinfo" rows="10">@currentassignment.addtionalinfo</textarea>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                        <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            }
          </table>
        </div>

      }
    </div>
      <br>
      <div class="tab-pane" id="editor">

          <div class="panel-group" id="homeworkcorrectionlist" role="tablist" aria-multiselectable="true">
          @if(lecture.assignments.size() > 0) {
            @for(assignment <- lecture.assignments) {
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="a@assignment.title">
                  <a role="button" data-toggle="collapse" data-parent="#assignmentlist" href="#@assignment.title" aria-expanded="true" aria-controls="@assignment.title">
                    @assignment.title <span class="badge pull-right">@if(Handin.getHandinofassignmentinlecture(assignment,lecture,lecture.semester)!=null){Handin.getHandinofassignmentinlecture(assignment,lecture,lecture.semester).size()}else {
                  0}/@if(Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)!=null){Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()}else{0}</span>
                  </a>
                </div>
                <div id="@assignment.title" class="panel-collapse collapse" role="tabpanel" aria-labelledby="uncorrected">
                  <div class="panel-body">
                    <table class="table table-striped custab">
                      <thead>
                        <tr>
                          <th>@Messages("evaluation.username")</th>
                          <th>@Messages("evaluation.repo")</th>
                          <th>@Messages("evaluation.access")</th>
                          <th>@Messages("evaluation.finish")</th>
                          <th>@Messages("evaluation.add")</th>
                        </tr>
                      </thead>
                      @for(stu<-Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)){
                        <tr>
                          <td>@stu.firstname @stu.lastname</td>
                          <td>@stu.getRepoByLecture(lecture).repopath</td>
                          <td>@stu.getRepoByLecture(lecture).owner.contains(semesteruser)</td>
                        </tr>
                      }
                    </table>
                  </div>
                </div>
              </div>
            }
          } else {
            <div class="alert alert-info">@Messages("lecutres.correction.none")</div>
          }
          </div>

      </div>
      <div class="tab-pane" id="forum">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
      </div>
    </div>
  </div>

  @*here begins with modal for description change*@
  <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.moddes")</h4>
        </div>
        <div class="modal-body">
          <form action="@controllers.lectures.admin.routes.Lecturehome.modifydescription(user.lastname,lecture.semester,lecture.courseName)" method="post">
            <div class="form-group">
              <label>@Messages("lecture.form.description")</label>
              <textarea class="form-control"  name="modifieddescription" rows="10">@lecture.desription</textarea>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  @*here begins with modal for terms change*@
  <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modterms")</h4>
        </div>
        <div class="modal-body">
          <form class="form-group" action="@controllers.lectures.admin.routes.Lecturehome.modifyterms(user.lastname,lecture.semester,lecture.courseName)" method="post">
              <div class="form-group">
                <label class="control-label">@Messages("lecture.form.totalassignment")</label>
                <input type="number" class="form-control" name="totalassignment" value="@lecture.totalassignment">
              </div>
              <div class="form-group">
                <label class="control-label">@Messages("lecture.form.option")</label>
                <input type="number" class="form-control" name="optionalassigment" value="@lecture.optionalassignments">
              </div>


            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.validhandin")</label>
              <input type="number" step="0.01" class="form-control" name="percentageforvalidassignment" value="@lecture.requiredpercentfovalidassignment">
            </div>
            <div class="form-group">
              <label class="control-label6">@Messages("lecture.form.validexam")</label>
              <input type="number" step="0.01" class="form-control" name="percentageforexam" value="@lecture.minimumPercentageForExamination">
            </div>

            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.totalvalid")</label>
              <input type="number" class="form-control" name="numberofvalidassignment" value="@lecture.requriednumberofvalidassignment">
            </div>
            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.closingdate")</label>
              <input id="datetimepicker1" type="text" class="form-control" name="closingdate" value="@lecture.closingdate">
            </div>

            @if(!lecture.localrepo){
              <label class="label-info">@Messages("lecture.form.info1")</label>
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="localrepo" value="true">
                  @Messages("lecture.form.repo")
                </label>
              </div>
            } else {
              <label class="label-info">@Messages("lecture.form.info2")</label>
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="localrepo" value="true" checked>
                  @Messages("lecture.form.repo")
                </label>
              </div>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  @*here begins with modal for assignment change*@
  <div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog" aria-labelledby="assignmentModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.newassignment")</h4>
        </div>
        <div class="modal-body">
          <form action="@controllers.lectures.admin.routes.Lecturehome.addassignment(user.lastname,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-6">
                <label>@Messages("Number.exercise")</label>
                <input type="number" class="form-control" name="numberofexercise" >
              </div>
              <div class="col-xs-6">
                <label>@Messages("deadline")</label>
                <input type="date" class="form-control" name="deadline">
              </div>
            </div>
            <div class="form-group">
              <label>@Messages("lecture.action.upload")</label>
              <input type="file" name="uploadfile">
            </div>
            <div class="form-group">
              <label>@Messages("lecture.form.addionalinfo")</label>
              <textarea class="form-control"  name="addtionalinfo" rows="10"></textarea>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
            </form>
        </div>
      </div>
    </div>
  </div>
}