@(user:User)(semesteruser: Semesteruser)(lecture: Lecture)(thread:ForumThread)(threadlist:List[ForumThread])

@dashboard.dashboard(user){
  <div class="col-md-8 well well-sm">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">@Messages("lecture.home.admin")</a></li>

       <li><a href="#editor" data-toggle="tab" id="tab_correction">@Messages("lecture.home.correction")</a></li>

      <li><a href="#forum" data-toggle="tab" id="tab_forum">@Messages("lecture.home.forum")</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.des")
          <button class="btn btn-link"  data-toggle="modal" data-target="#descriptionModal" id="modify_description">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <span class="label label-info pull-right">@lecture.courseName</span>
          <span class="label label-success pull-right">@lecture.semester</span>
        </div>
        <div class="panel-body">
          <span class="label label-warning">@Messages("lecture.closingdate")@lecture.closingdate</span>
          <hr>
          <p id="lecture_description">@lecture.desription</p>
          <hr>
          <ul class="list-inline list-unstyled">
            <li><span class="label label-primary">@Messages("lecture.contact")</span></li>
            @for(admin<-Semesteruser.findworkerByLecture(lecture.semester,lecture)){
              <li><span><i class="fa fa-user"></i><a @if(!semesteruser.userHash.equals(admin.userHash)){href="#" data-toggle="modal" data-target="#message@admin.userHash"}>@admin.firstname @admin.lastname</a></span></li>
              <li> </li>

                <!-- message Modal -->
              <div class="modal fade" id="message@admin.userHash" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">@Messages("sendto") @admin.firstname @admin.lastname</h4>
                    </div>
                    <div class="modal-body">
                      <form action="@controllers.messages.routes.Messagecontrol.addConversation(lecture.semester,admin.email,lecture.courseName)#home" method="post" class="form-horizontal">
                          <div class="form-group">
                            <label class="control-label" for="textarea">@Messages("message.content")</label>
                            <div>
                              <textarea required class="form-control" name="content" rows="5"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-success pull-right">
                          </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            }
          </ul>
        </div>
      </div>
      @if(lecture.localrepo){
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.terms")
          <button class="btn btn-link"  data-toggle="modal" data-target="#termsModal" id="modify_terms">
            <i class="fa fa-pencil-square-o"></i>
          </button>
        </div>
        <div class="panel-body">
          <ul>
            <li>@Messages("lecture.numberofassignments") @lecture.totalassignment,@Messages("lecture.atleast") @lecture.requriednumberofvalidassignment @Messages("lecture.validinfo")</li>
            <li>@Messages("lecture.validassignmentinfo")@lecture.requiredpercentfovalidassignment</li>
            <li>@Messages("lecture.validexaminfo")@lecture.minimumPercentageForExamination </li>
            <li>@Messages("lecture.validoptionalinfo")@lecture.optionalassignments@Messages("lecutre.validoptionalinfo1")</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">@Messages("lecture.home.homeworks")
          <button title="Create new homework" class="btn btn-link" data-toggle="modal" data-target="#assignmentModal" id="create_local_homework">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="panel-body">
        @Messages("lecture.home.homework")
        </div>
        @if(lecture.attendent.contains(semesteruser)){
        <table class="table table-striped custab">
          <thead>
            <tr>
              <th>@Messages("assignment.title")</th>
              <th>@Messages("assignment.exercise")</th>
              <th>@Messages("lecture.form.addionalinfo")</th>
              <th  class="text-center">@Messages("assignment.action")</th>
              <th>@Messages("assignment.status")</th>
              <th>@Messages("assignment.expired")</th>
            </tr>
          </thead>
          @for(currentassignment <- lecture.assignments){
            <tr>
              <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(lecture.semester,lecture.courseName,currentassignment.title)"><i class="fa fa-download"></i></a>}</td>
              <td>@currentassignment.numberofexercise</td>
              <td id="table_localinfo">@currentassignment.addtionalinfo</td>
              <td  class="text-center">
                <a data-toggle="modal" data-target="#modify@currentassignment.id" title="@Messages("Assignment.modify")" id="modify_assignment"><i class="fa fa-pencil-square-o"></i></a>
                <a title="@Messages("delete.assignment")" href="@controllers.lectures.admin.routes.Lecturehome.deleteAssignment(lecture.courseName,currentassignment.title,lecture.semester)" id="delete_assignment"><i class="fa fa-times"></i></a>
              </td>
              <td>@Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester).size()/@Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()</td>
              <td>@currentassignment.deadline</td>
            </tr>
            <div class="modal fade" id="modify@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modassignment")</h4>
                  </div>
                  <div class="modal-body">
                    <form action="@controllers.lectures.admin.routes.Lecturehome.modifyassignment(currentassignment.id,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-xs-6">
                          <label>@Messages("Number.exercise")</label>
                          <input type="number" class="form-control" name="numberofexercise" value="@currentassignment.numberofexercise">
                        </div>
                        <div class="col-xs-6">
                          <label>@Messages("Number.totalpoints")</label>
                          <input type="number" class="form-control" name="totalpoints" value="@currentassignment.totalpoints">
                        </div>
                        <div class="col-xs-6">
                          <label>@Messages("deadline")</label>
                          <input type="text" class="form-control datepicker" name="deadline" value="@currentassignment.deadline.format("MM/dd/yyyy")" id="modify_assignment_deadline" >
                        </div>
                      </div>

                      <div class="form-group">
                        <label>@Messages("lecture.action.upload")</label>
                        <input type="file" name="uploadfile">
                      </div>

                      <samp class="alert-link">@Messages("Lecture.assignment.path")@currentassignment.filename</samp>


                      @*todo:add more file also delte file*@
                      <div class="form-group">
                        <label>@Messages("lecture.form.addionalinfo")</label>
                        <textarea class="form-control"  name="addtionalinfo" rows="10" id="modify_assignment_info">@currentassignment.addtionalinfo</textarea>
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                      <button type="submit" class="btn btn-primary pull-right" id="submit_modify_assignment">@Messages("lecture.form.change")</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          }
        </table>}else{
          <div class="alert alert-danger text-center">@Messages("lecture.singin")
            <br>
            <a class="btn btn-success text-center" href="@controllers.lectures.admin.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>
          </div>
        }
      </div>
      } else {
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.terms")
          </div>
          <div class="panel-body">
          @Messages("lecture.home.terms.remote")
          </div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.homeworks")
            <button title="Create new homework" class="btn btn-link"  data-toggle="modal" data-target="#assignmentModal">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="panel-body">
          @Messages("lecture.home.homework.remote.admin")
          </div>
          @if(lecture.attendent.contains(semesteruser)){
          <table class="table table-striped custab">
            <thead>
              <tr>
                <th>@Messages("assignment.title")</th>
                <th>@Messages("assignment.exercise")</th>
                <th>@Messages("lecture.form.addionalinfo")</th>
                <th  class="text-center">@Messages("assignment.action")</th>
                <th>@Messages("assignment.status")</th>
                <th>@Messages("assignment.expired")</th>
              </tr>
            </thead>
            @for(currentassignment <- lecture.assignments){
              <tr>
                <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(lecture.semester,lecture.courseName,currentassignment.title)"><i class="fa fa-download"></i></a>}</td>
                <td>@currentassignment.numberofexercise</td>
                <td>@currentassignment.addtionalinfo</td>
                <td  class="text-center">
                  <a data-toggle="modal" data-target="#modify@currentassignment.id" title="@Messages("Assignment.modify")"><i class="fa fa-pencil-square-o"></i></a>
                  <a title="@Messages("delete.assignment")" href="@controllers.lectures.admin.routes.Lecturehome.deleteAssignment(lecture.courseName,currentassignment.title,lecture.semester)"><i class="fa fa-times"></i></a>
                </td>
                <td>@Handin.getHandinofassignmentinlecture(currentassignment,lecture,lecture.semester).size()/@Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()</td>
                <td>@currentassignment.deadline</td>
              </tr>
              <div class="modal fade" id="modify@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modassignment")</h4>
                    </div>
                    <div class="modal-body">
                      <form action="@controllers.lectures.admin.routes.Lecturehome.modifyassignment(currentassignment.id,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-xs-6">
                            <label>@Messages("Number.exercise")</label>
                            <input type="number" class="form-control" name="numberofexercise" value="@currentassignment.numberofexercise">
                          </div>
                          <div class="col-xs-6">
                            <label>@Messages("Number.totalpoints")</label>
                            <input type="number" class="form-control" name="totalpoints" value="@currentassignment.totalpoints">
                          </div>
                          <div class="col-xs-6">
                            <label>@Messages("deadline")</label>
                            <input type="text" class="form-control datepicker" name="deadline" value="@currentassignment.deadline.format("MM/dd/yyyy")">
                          </div>
                        </div>

                        <div class="form-group">
                          <label>@Messages("lecture.action.upload")</label>
                          <input type="file" name="uploadfile">
                        </div>

                        <samp class="alert-link">@Messages("Lecture.assignment.path")@currentassignment.filename</samp>


                        @*todo:add more file also delte file*@
                        <div class="form-group">
                          <label>@Messages("lecture.form.addionalinfo")</label>
                          <textarea class="form-control"  name="addtionalinfo" rows="10">@currentassignment.addtionalinfo</textarea>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                        <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            }
          </table>}else{
            <div class="alert alert-danger text-center">@Messages("lecture.singin")
              <br>
              <a class="btn btn-success text-center" href="@controllers.lectures.admin.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>
            </div>
          }
        </div>

      }
        @if(lecture.attendent.contains(semesteruser)) {
          <div class="panel panel-default">
            <div class="panel-heading">@Messages("lecture.home.performance")</div>
            <div class="panel-body">
              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>@Messages("lecture.students")</th>
                    <th>@Messages("assginment.validhandin.sum")</th>
                    <th>@Messages("assginment.optional.sum")</th>
                    <th>@Messages("totalperformance")</th>
                  </tr>
                </thead>
                @for(currentstu<-Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)){
                <tr>
                  <td><a href="#" data-toggle="modal" data-target="#message@currentstu.userHash">@currentstu.lastname,@currentstu.firstname</a></td>
                  <td>@Handin.getValidHandinofstudentinlecture(lecture, currentstu, lecture.semester).size()
                    /@lecture.requriednumberofvalidassignment</td>
                  <td>@Handin.getOptionalAssignmentofStudentsinLecture(lecture.semester, lecture, currentstu).size()
                    /@lecture.optionalassignments</td>
                  <td>
                  @if(Evaluation.findByLectureAndUser(lecture.semester, lecture, currentstu) != null) {
                    @Evaluation.findByLectureAndUser(lecture.semester, lecture, currentstu).performance
                  } else {0.0}</td>
                </tr>
                    <!-- message Modal -->
                  <div class="modal fade" id="message@currentstu.userHash" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">@Messages("sendto") @currentstu.firstname @currentstu.lastname</h4>
                        </div>
                        <div class="modal-body">
                          <form action="@controllers.messages.routes.Messagecontrol.addConversation(lecture.semester,currentstu.email,lecture.courseName)#home" method="post" class="form-horizontal">
                            <div class="form-group">
                              <label class="control-label" for="textarea">@Messages("message.content")</label>
                              <div>
                                <textarea required class="form-control" name="content" rows="5"></textarea>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="submit" class="btn btn-success pull-right">
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                }
              </table>
            </div>
          </div>
        }
    </div>
      <br>
      <div class="tab-pane" id="editor">
      @if(lecture.attendent.contains(semesteruser)){
          <div class="panel-group" id="homeworkcorrectionlist" role="tablist" aria-multiselectable="true">
          @if(lecture.assignments.size() > 0) {
            @for(assignment <- lecture.assignments) {
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="a@assignment.title">
                  <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#assignmentlist" href="#@assignment.title" aria-expanded="true" aria-controls="@assignment.title" id="open_assignment">
                    @assignment.title <span class="badge pull-right">@Handin.getHandinofassignmentinlecture(assignment,lecture,lecture.semester).size()/@Semesteruser.findAllstudentsByLecture(lecture.semester,lecture).size()</span>
                  </a>
                    </h4>
                </div>
                <div id="@assignment.title" class="panel-collapse collapse" role="tabpanel" aria-labelledby="uncorrected">
                  <div class="panel-body">
                    <table class="table table-striped custab">
                      <thead>
                        <tr>
                          <th>@Messages("evaluation.username")</th>
                          <th>@Messages("evaluation.repo")</th>
                          <th>@Messages("evaluation.access")</th>
                          <th>@Messages("evaluation.finish")</th>
                          <th>@Messages("evaluation.done")</th>
                        </tr>
                      </thead>
                      @for(stu<-Semesteruser.findAllstudentsByLecture(lecture.semester,lecture)){
                        <tr @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment)!=null){
                          class="success"
                        }else{
                          class="danger"
                        }>
                          <td><a href="#" data-toggle="modal" data-target="#amessage@stu.userHash">@stu.firstname @stu.lastname</a></td>
                          @*modaly for create chat*@
                          <div class="modal fade" id="amessage@stu.userHash" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title">@Messages("sendto") @stu.firstname @stu.lastname</h4>
                                </div>
                                <div class="modal-body">
                                  <form action="@controllers.messages.routes.Messagecontrol.addConversation(lecture.semester,stu.email,lecture.courseName)#editor" method="post" class="form-horizontal">
                                    <div class="form-group">
                                      <label class="control-label" for="textarea">@Messages("message.content")</label>
                                      <div>
                                        <textarea required class="form-control" name="content" rows="5"></textarea>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <input type="submit" class="btn btn-success pull-right">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <td>
                            @if(stu.getRepoByLecture(lecture)!=null){
                              <div class="input-group">
                                <input type="text" class="form-control copytext" aria-label="..." value="@stu.getRepoByLecture(lecture).repopath" disabled="disabled">
                                <div class="input-group-btn">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Messages("repo.eval.action") <span class="caret"></span></button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:copytoclip();">@Messages("repo.address.copy")</a></li>
                                    <li><a href="sourcetree://cloneRepo/@stu.getRepoByLecture(lecture).repopath">@Messages("repo.open.sourcetree")</a></li>
                                  </ul>
                                </div><!-- /btn-group -->
                              </div><!-- /input-group -->
                          }
                          </td>
                          <td>
                          @if(stu.getRepoByLecture(lecture)!=null){
                          @if(stu.getRepoByLecture(lecture).owner.contains(semesteruser)){
                            @Messages("admin.access.student.true")
                            }else{
                            @if(controllers.lectures.admin.Assignmentevaluation.grandaccess(semesteruser,stu,lecture)){
                              @Messages("admin.access.student.true")}else{
                              <div class="label label-danger">@Messages("admin.access.student.false")</div>
                            }
                            }
                          }
                          </td>
                          <td>@if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment)!=null){
                            @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment).isevaluated){
                              <a data-toggle="modal" data-target="#@assignment.id@stu.id" id="eval_result">@Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment).earndpoints/@Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment).totalpoints</a>
                            }else{
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eval@assignment.id@stu.id" id="add_eval_button">
                                @Messages("evaluation.add")
                              </button>
                            }
                          }else{
                            @Messages("admin.homework.correction")
                          }</td>
                          @*modal to add  evaluation to user handin*@
                          <div class="modal fade" id="eval@assignment.id@stu.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">@Messages("homework.evaluation")_@stu.lastname _@assignment.title</h4>
                                </div>
                                <div class="modal-body">
                             <form id="@assignment.title@stu.userHash" action="javascript:submit('@assignment.title@stu.userHash','@lecture.semester','@lecture.courseName','@assignment.id','@stu.email')">
                                @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment)!=null){
                                 @for((exercise,index)<-Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment).exercises.zipWithIndex){
                                   <div class="label label-info center-block">@exercise.title</div>
                                   <div class="row">
                                     <div class="col-xs-1">
                                     <label>@Messages("gain")</label>
                                     </div>
                                  <div class="form-group col-xs-5">
                                      <input type="number"  step="0.01" class="form-control" name="exercise[@index].earndpoints"  value="@exercise.earndpoints" id="earndpoints@index">
                                    </div>
                                     <div class="col-xs-1">
                                     <label>@Messages("total")</label>
                                       </div>
                                    <div class="form-group col-xs-5">
                                    <input type="number"  step="0.01" class="form-control" name="exercise[@index].totalpoints"  value="@exercise.totalpoints" id="totalpoints@index">
                                    </div>
                                     <div class="col-xs-12">
                                  <textarea class="form-control"  rows="3" placeholder="@Messages("comment")" name="exercise[@index].comments" id="comments@index">@exercise.comments</textarea>
                                     </div>
                                   </div>
                                   <hr>
                               }
                                    <input class="btn btn-primary" type="submit" id="submit_eval">
                                }
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>

                        <td>@if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment)!=null){
                          @Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,stu,assignment).isevaluated
                        }else{false}</td>
                        </tr>
                        <tr>
                          <td colspan="5">
                            <div class="label label-success col-md-12">@Messages("repo.status")</div>
                            <canvas id="@stu.userHash@assignment.title"></canvas>
                            <script type="text/javascript">
                   showcanvas('@stu.email','@lecture.semester','@lecture.courseName','@stu.userHash@assignment.title');
                  </script>
                          </td>
                        </tr>
                      }
                    </table>
                  </div>
                </div>
              </div>
            }
          } else {
            <div class="alert alert-info">@Messages("lecutres.correction.none")</div>
          }
          </div>
      }else{
        <div class="alert alert-info">@Messages("lecture.singin.other")</div>
      }
      </div>
      <div ng-app="forumapp" ng-controller="forumcontroller" class="tab-pane" id="forum">
      @if(lecture.attendent.contains(semesteruser)){
        <div class="page-header">
          <h1>@Messages("forum.header")</h1><small>@Messages("forum.note")</small>
        </div>
        <div class="row col-md-12">
          <button ng-click="section(1)" class="btn btn-success" id="create_thread">@Messages("forum.create")</button>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              @Messages("forum.action") <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="@controllers.lectures.routes.Lectureforum.forumredirect(lecture.semester,lecture.courseName)#forum">@Messages("thread.all")</a></li>
              <li><a href="@controllers.lectures.routes.Lectureforum.getmythreads(lecture.semester,lecture.courseName)#forum">@Messages("thread.my")</a></li>
            </ul>
          </div>
          <hr>
          <form  action="@controllers.lectures.routes.Lectureforum.createthread(user.lastname,lecture.semester,lecture.courseName)#forum" method="post" id="createthreadform" name="createthreadform" ng-show="showsection(1)" class="form-horizontal">
            <input name="title" ng-model="title" required type="text" class="form-control" placeholder="@Messages("thread.title")" id="thread_title"><br>
            <textarea name="content" ng-model="content" required class="form-control" rows="5" placeholder="@Messages("content")" id="thread_content"></textarea><br>
            <input ng-disabled="!(createthreadform.title.$dirty && createthreadform.content.$dirty)" class="btn btn-primary" type="submit" id="thread_submit">
          </form>
          @if(thread==null){
          <table ng-show="showsection(2)" class="table table-striped custab">
            <thead>
              <tr>
                <th>@Messages("thread.title")</th>
                <th>@Messages("thread.creator")</th>
                <th>@Messages("thread.reply")</th>
                <th>@Messages("thread.lastchange")</th>
              </tr>
            </thead>
            @if(threadlist==null){
            @for(thread<-ForumThread.findByLecture(lecture.semester,lecture)){
              <tr>
                <td><a href="@controllers.lectures.routes.Lectureforum.getthread(lecture.semester,lecture.courseName,thread.id)#forum" id="show_thread_title">@thread.title</a></td>
                <td><div class="pull-left">
                  <img class="media-object" src="http://www.gravatar.com/avatar/@user.userHash" height="20" width="20">
                </div> @thread.creator.firstname @thread.creator.lastname</td>
                <td>@thread.replyposts.size()</td>
                <td>@thread.lastupdate</td>
              </tr>}}

            @if(threadlist!=null){
              @for(thread<-threadlist){
                <tr>
                  <td><a href="@controllers.lectures.routes.Lectureforum.getthread(lecture.semester,lecture.courseName,thread.id)#forum" >@thread.title</a></td>
                  <td><div class="pull-left">
                    <img class="media-object" src="http://www.gravatar.com/avatar/@user.userHash" height="20" width="20">
                  </div> @thread.creator.firstname @thread.creator.lastname</td>
                  <td>@thread.replyposts.size()</td>
                  <td>@thread.lastupdate</td>
                </tr>}
            }
          </table>
          }

          <div ng-show="showsection(2)">
          @if(thread!=null){
            <div class="well">
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="http://www.gravatar.com/avatar/@thread.creator.userHash" height="20" width="20">
                </a>
                <div class="media-body">
                  <h4 class="media-heading" id="inside_thread">@thread.title</h4>
                  <p>@thread.content</p>
                  <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>@thread.creattime</span></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-user"></i>@thread.creator.firstname @thread.creator.lastname</span></li>
                    <li>|</li>
                    <li><span class="label label-info">@Messages("thread.starter")</span></li>
                  </ul>
                </div>
              </div>
            </div><hr>
            @for(post<-thread.replyposts){
            <div class="well">
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="http://www.gravatar.com/avatar/@post.creator.userHash" height="20" width="20">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">@post.creator.firstname @post.creator.lastname</h4>
                  <p id="inside_success_reply">@post.content</p>
                  <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>@post.creattime</span></li>
                  </ul>
                </div>
              </div>
            </div><hr>
              }
            <form action="@controllers.lectures.routes.Lectureforum.createpost(lecture.semester,lecture.courseName,thread.id)#forum" method="post" class="form-horizontal">
              <textarea class="form-control" name="postcontent" rows="5" id="inside_reply"></textarea><br>
              <input type="submit" class="btn btn-primary pull-right" id="submit_inside_reply">
            </form>
          }
          </div>
        </div>}else{
        <div class="alert alert-info">@Messages("lecture.singin.other")</div>
      }
      </div>
    </div>
  </div>

  @*here begins with modal for description change*@
  <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.moddes")</h4>
        </div>
        <div class="modal-body">
          <form action="@controllers.lectures.admin.routes.Lecturehome.modifydescription(user.lastname,lecture.semester,lecture.courseName)" method="post">
            <div class="form-group">
              <label>@Messages("lecture.form.description")</label>
              <textarea class="form-control"  name="modifieddescription" rows="10" id="add_description">@lecture.desription</textarea>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" class="btn btn-primary pull-right" id="submit_new_description">@Messages("lecture.form.change")</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  @*here begins with modal for terms change*@
  <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.modterms")</h4>
        </div>
        <div class="modal-body">
          <form class="form-group" action="@controllers.lectures.admin.routes.Lecturehome.modifyterms(user.lastname,lecture.semester,lecture.courseName)" method="post">
              <div class="form-group">
                <label class="control-label">@Messages("lecture.form.totalassignment")</label>
                <input type="number" class="form-control" name="totalassignment" value="@lecture.totalassignment">
              </div>
              <div class="form-group">
                <label class="control-label">@Messages("lecture.form.option")</label>
                <input type="number" class="form-control" name="optionalassigment" value="@lecture.optionalassignments">
              </div>


            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.validhandin")</label>
              <input type="number" step="0.01" class="form-control" name="percentageforvalidassignment" value="@lecture.requiredpercentfovalidassignment">
            </div>
            <div class="form-group">
              <label class="control-label6">@Messages("lecture.form.validexam")</label>
              <input type="number" step="0.01" class="form-control" name="percentageforexam" value="@lecture.minimumPercentageForExamination">
            </div>

            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.totalvalid")</label>
              <input type="number" class="form-control" name="numberofvalidassignment" value="@lecture.requriednumberofvalidassignment" id="modify_numbervalid">
            </div>
            <div class="form-group">
              <label class="control-label">@Messages("lecture.form.closingdate")</label>
              <input id="modify_closingdate_terms" type="text" class="form-control datepicker" name="closingdate" value="@lecture.closingdate.format("MM/dd/yyyy")" >
            </div>

            @if(!lecture.localrepo){
              <label class="label-info">@Messages("lecture.form.info1")</label>
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="localrepo" value="true">
                  @Messages("lecture.form.repo")
                </label>
              </div>
            } else {
              <label class="label-info">@Messages("lecture.form.info2")</label>
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="localrepo" value="true" checked>
                  @Messages("lecture.form.repo")
                </label>
              </div>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" class="btn btn-primary pull-right" id="modify_terms_button">@Messages("lecture.form.change")</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  @*here begins with modal for assignment change*@
  <div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog" aria-labelledby="assignmentModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">@Messages("lecture.form.newassignment")</h4>
        </div>
        <div class="modal-body">
          <form action="@controllers.lectures.admin.routes.Lecturehome.addassignment(user.lastname,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-6">
                <label>@Messages("Number.exercise")</label>
                <input type="number" class="form-control" name="numberofexercise" id="number_exercise" >
              </div>
              <div class="col-xs-6">
                <label>@Messages("Number.totalpoints")</label>
                <input type="number" class="form-control" name="totalpoints" id="total_points">
              </div>
              <div class="col-xs-6">
                <label>@Messages("deadline")</label>
                <input type="text" class="form-control datepicker" id="assignment_deadline" name="deadline">
              </div>
            </div>
            <div class="checkbox">
              <label class="control-label">
                <input type="checkbox" name="isoptional" value="true">
                @Messages("assignment.optional")
              </label>
            </div>
            <div class="form-group">
              <label>@Messages("lecture.action.upload")</label>
              <input type="file" id="upload_file" name="uploadfile">
            </div>
            <div class="form-group">
              <label>@Messages("lecture.form.addionalinfo")</label>
              <textarea class="form-control" id="additional_info" name="addtionalinfo" rows="10"></textarea>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
            <button type="submit" id="submit_assignment" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
            </form>
        </div>
      </div>
    </div>
  </div>

}