@(user: User)(content:Html)

@main(user) {

  <div class="container-fluid">

    <div class="row">
      <div class="media  col-md-12">
        <div class="media-left">
          <a href="http://www.uni-kassel.de">
            <img class="media-object" src="/assets/images/unik.png">
          </a>
          <br>
        </div>
      </div>

      <div class="panel-group col-md-2" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              @Messages("dashboard.profile")
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="list-group">
              <a href="@controllers.routes.Dashboard.index()" class="list-group-item">
              @Messages("home")
              </a>
              <a href="@controllers.account.settings.routes.Index.index()" class="list-group-item">
              @Messages("settings")
              </a>
            </div>
          </div>

        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  href="#collapseTwo"aria-expanded="true" aria-controls="collapseTwo">
              @Messages("dashboard.lecture")
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="list-group">
              <a href="@controllers.lectures.routes.Alllectures.allLectures()" class="list-group-item">
              @Messages("lectures.all")
              </a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Reserve
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
             reserve
            </div>
          </div>
        </div>
      </div>
      @content
    </div>

  </div>

}