@(user: User)

@dashboard(user) {
    <div class="well media col-md-6 col-md-offset-1">
        <div class="pull-left">
            <img class="media-object" src="http://www.gravatar.com/avatar/@user.userHash"/>
        </div>
        <div class="media-body">
            <h2 class="media-heading">@user.firstname @user.lastname</h2>
            <ul>
                <li>Matrikel Number: @user.id</li>
                <li>Lastname: @user.getFirstname</li>
                <li>User created on: @user.dateCreation</li>
                <li>User last login: @user.dateLastlogin</li>
            </ul>
        </div>
    </div>


}