@(user:User)(lecturemap:Map[String,List[Lecture]])

@dashboard.dashboard(user){
  <div class="panel-group col-md-6 col-md-offset-1 well" id="mylecturelist" role="tablist" aria-multiselectable="true">
    <div class="col-md-12 text-center">
    @wflash()
    </div>
    <div class="page-header"  >
      <h1 class="text-center">My Lectures
        <small>Choose Semester for details</small>
      </h1>
    </div>

   @if((lecturemap != null)){
     <ul>
     @for((key,value) <- lecturemap){
       <li>
         <div class="panel panel-default">
           <div class="panel-heading" role="tab" id="a@key">
             <h4 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#mylecturelist"  href="#@key" aria-expanded="false" aria-controls="@key" id="my_semester_tab">
               @key
               </a>
             </h4>
           </div>
           <div id="@key" class="panel-collapse collapse" role="tabpanel" aria-labelledby="a@key">
             <div class="list-group">
               @if(value != null && value.size>0){
               @for(lecture <- value) {
                 @if(user.roles.toString.equals("Teachers")||user.roles.toString.equals("Assistants")){
                   <a href="@controllers.lectures.admin.routes.Lecturehome.generatelecturehome(user.lastname,key,lecture.courseName)" class="list-group-item">
                 @lecture.courseName
                  </a>} else {

                   @if(user.roles.toString.equals(UserRoll.Students.toString)){
                     <a href="@controllers.lectures.user.routes.Lecturehome.generatelecturehome(user.lastname,key,lecture.courseName)" class="list-group-item" id="my_lecture_content@lecture.courseName">
                     @lecture.courseName
                     </a>}
                 }
               }
               } else {
                 <div class="alert alert-danger">@Messages("lectures.none")</div>
               }
             </div>
           </div>
         </div>
       </li>
     }
     </ul>
   }else{
     @wflash
   }

  </div>





}