@(user:User)
@dashboard.dashboard(user){
<div  class="col-md-8 well well-lg col-md-offset-1" ng-app="messages" ng-controller="messagecontroller" >
  <div class="row">
    <div class="col-lg-3">
      <div class="btn-panel btn-panel-conversation">
        <a type="button" class="btn  send-message-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
          <i class="fa fa-filter"></i>@Messages("message.filter")<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          @for(semester<-Semester.getallsemester()){
          <li><a href="#" ng-click="socketfilter('@semester.getSemester','@user.email')">@semester.getSemester</a></li>}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="conversation-wrap col-lg-3">
      <div ng-repeat="talk in talks">
      <div class="media conversation" ng-init="otheruser=participant('@user.email',talk.user1,talk.user2)">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://www.gravatar.com/avatar/{{otheruser.userHash}}" height="50" width="50">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="#" ng-click="socketchatcontent(talk.id)">{{otheruser.firstname}} {{otheruser.lastname}}</a></h5>
          <small><div class="label label-info">{{talk.semester}}</div></small>
        </div>

      </div>
      </div>
      @*for schleife*@
    </div>

    <div class="message-wrap col-lg-8" scroll-glue>

      <div ng-repeat="msg in allmessages">
      <div class="msg-wrap">
        <div class="media msg">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://www.gravatar.com/avatar/{{msg.sender.userHash}}" height="50" width="50">
          </a>
          <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i>{{msg.date}}</small>
            <h5 class="media-heading">{{msg.sender.firstname}} {{ msg.sender.lastname}}</h5>
            <small class="col-lg-10">{{msg.messagebody}}</small>
          </div>
        </div>
        @*for schleife*@
      </div>
      </div>
    </div>
    <div class="message-wrap col-lg-8 col-lg-offset-3">
      <div class="send-wrap ">
        <textarea class="form-control send-message" rows="3" placeholder="@Messages("message.writereply")" ng-model="newmessage" required></textarea>
      </div>
      <div>
        <button href="" class=" btn btn-success pull-right" role="button" ng-click="reply()">@Messages("message.send")</button>
      </div>
    </div>
  </div>
</div>
}