@(user:User)(semesteruser: Semesteruser)(lecture: Lecture)(thread:ForumThread)(threadlist:List[ForumThread])
@dashboard.dashboard(user){
  <div class="col-md-8 well well-sm">
    <div class="text-center">@wflash()</div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">@Messages("lecture.home.admin")</a></li>
      <li><a href="#forum" data-toggle="tab">@Messages("lecture.home.forum")</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.des")
            <span class="label label-info pull-right">@lecture.courseName</span>
            <span class="label label-success pull-right">@lecture.semester</span>
          </div>
          <div class="panel-body">
            <span class="label label-warning">@Messages("lecture.closingdate")@lecture.closingdate</span>
            <hr>
            @lecture.desription
            <span class="label label-primary">@Messages("lecture.contact")</span>
            <ul class="list-inline list-unstyled">
            @for(admin<-Semesteruser.findworkerByLecture(lecture.semester,lecture)){
              <li><span><i class="glyphicon glyphicon-user"></i>@admin.firstname @admin.lastname</span></li>
              <li> </li>
            }
            </ul>
          </div>
        </div>
        @if(lecture.localrepo){
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.terms")
          </div>
          <div class="panel-body">
            <ul>
              <li>@Messages("lecture.numberofassignments") @lecture.totalassignment,@Messages("lecture.atleast") @lecture.requriednumberofvalidassignment @Messages("lecture.validinfo")</li>
              <li>@Messages("lecture.validassignmentinfo")@lecture.requiredpercentfovalidassignment</li>
              <li>@Messages("lecture.validexaminfo")@lecture.minimumPercentageForExamination </li>
              <li>@Messages("lecture.validoptionalinfo")@lecture.optionalassignments@Messages("lecutre.validoptionalinfo1")</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="panel panel-default">

          <div class="panel-heading">@Messages("lecture.home.homeworks")
          </div>
          <div class="panel-body">
          @Messages("lecture.home.homework")
            <br>
            @if(lecture.attendent.contains(semesteruser)){
              @if(Repo.findRepoByLectureAndOwner(lecture.semester,semesteruser,lecture)!=null&&semesteruser.roles.equals(UserRoll.Students.toString)){
                <div class="textfont">@Messages("lecture.home.homework.local.exist")<br>
                <div class="label label-success">@Messages("repo.last.status") @controllers.lectures.user.Lecturehome.lastUpdateStatus(semesteruser,lecture)</div>
                </div>
              }else{
                <form action="@controllers.lectures.user.routes.Lecturehome.addRemoteRepotoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" method="post"><div class="alert alert-warning" role="alert">@Messages("lecture.home.homework.local.noexist") </div><button class="btn btn-success pull-right" type="submit">@Messages("lecture.remote.generate")</button></form>
              }

              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>@Messages("assignment.title")</th>
                    <th>@Messages("assignment.exercise")</th>
                    <th>@Messages("lecture.form.addionalinfo")</th>
                    <th  class="text-center">@Messages("assignment.action")</th>
                    <th>@Messages("assignment.status")</th>
                    <th>@Messages("assginment.evaluation")</th>
                    <th>@Messages("assignment.expired")</th>
                  </tr>
                </thead>
                @for(currentassignment <- lecture.assignments){
                  <tr>
                    <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
                    <td>@currentassignment.numberofexercise</td>
                    <td>@currentassignment.addtionalinfo</td>
                    <td  class="text-center">
                    @if(currentassignment.isExpired){<a data-toggle="modal" data-target="#@currentassignment.id" title="@Messages("Assignment.handin")"><i class="fa fa-pencil-square-o"></i></a>
                      <a title="revert last upload" href="@controllers.lectures.user.routes.Lecturehome.reverthandinhomework(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)"><i class="fa fa-times"></i></a>}
                    </td>
                    <td>@if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)!=null){
                      <div class="label label-success">@Messages("handin.ok")</div>
                    }else{<div class="label label-danger">@Messages("handin.notok")</div>}</td>
                    <td><a data-toggle="modal" data-target="#eval@currentassignment.id" title="@Messages("click.for.detail")">
                     @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)!=null) {
                    @Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment).earndpoints/@Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment).totalpoints
                     }else{0.0/0.0}</a></td>
                    <td>@currentassignment.deadline</td>
                  </tr>
                  @*modal for showing handin assginment*@
                  <div class="modal fade" id="@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.handin")</h4>
                        </div>
                        <div class="modal-body">
                          <form action="@controllers.lectures.user.routes.Lecturehome.handinhomework(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                              <label>@Messages("lecture.action.upload")</label>
                              <input type="file" name="homeworkfile">
                            </div>
                            <div class="form-group">
                              <label>@Messages("Assignment.commit")</label>
                              <textarea class="form-control"  name="commit" rows="10"></textarea>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                            <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  @*modal for showing the assignment result*@
                  <div class="modal fade" id="eval@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.evaluation")</h4>
                        </div>
                        <div class="modal-body">
                        @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)!=null){
                            @for(exercise<-Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment).exercises){
                              <div class="row">
                                <div class="lable label-info text-center">@exercise.title</div>
                                <div class="col-xs-2"><label>@Messages("gain")</label>@exercise.earndpoints</div>
                                <div class="col-xs-2"><label>@Messages("total")</label>@exercise.totalpoints</div>
                                <blockquote class="col-xs-12"><p>@exercise.comments</p><footer>@Messages("comment")</footer></blockquote>
                              </div>
                            }

                        }else{<span class="alert alert-warning">@Messages("nohandin")</span>}
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </table>
              <hr>
              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>@Messages("assginment.validhandin.sum")</th>
                    <th>@Messages("assginment.optional.sum")</th>
                    <th>@Messages("totalperformance")</th>
                  </tr>
                </thead>
                <tr>
                  <td>@Handin.getValidHandinofstudentinlecture(lecture,semesteruser,lecture.semester).size()/@lecture.requriednumberofvalidassignment</td>
                  <td>@Handin.getOptionalAssignmentofStudentsinLecture(lecture.semester,lecture,semesteruser).size()/@lecture.optionalassignments</td>
                  <td>
                  @if(Evaluation.findByLectureAndUser(lecture.semester,lecture,semesteruser)!=null){
                  @Evaluation.findByLectureAndUser(lecture.semester,lecture,semesteruser).performance}else{0.0}</td>
                </tr>
              </table>
            <a class="btn btn-danger pull-right" href="@controllers.lectures.user.routes.Lecturehome.deleteSemesteruserfromlecture(semesteruser.lastname,lecture.semester,lecture.courseName)">@Messages("lecture.leave")</a>

            } else{

              <div class="alert alert-danger text-center">@Messages("lecture.singin")
                <br>
                <a class="btn btn-success text-center" href="@controllers.lectures.user.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>

              </div>
              }
          </div>

        </div>
        } else {
          <div class="panel panel-default">
            <div class="panel-heading">@Messages("lecture.home.terms")
            </div>
            <div class="panel-body">
            @Messages("lecture.home.terms.remote")
            </div>
          </div>
          <hr>
          <div class="panel panel-default">

            <div class="panel-heading">@Messages("lecture.home.homeworks")
            </div>
            <div class="panel-body">
              <div class="textfont">@Messages("lecture.home.homework.remote")</div>
              <br>
              @if(lecture.attendent.contains(semesteruser)){
              @if(Repo.findRepoByLectureAndOwner(lecture.semester,semesteruser,lecture)!=null&&semesteruser.roles.equals(UserRoll.Students.toString)){
                @Messages("lecture.home.homework.remote.exist")<br><p class="bg-info">@Repo.findRepoByLectureAndOwner(lecture.semester,semesteruser,lecture).repopath</p>
              }else{
                <form action="@controllers.lectures.user.routes.Lecturehome.addRemoteRepotoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" method="post"><div class="alert alert-warning" role="alert">@Messages("lecture.home.homework.remote.noexist") </div><button class="btn btn-success pull-right" type="submit">@Messages("lecture.remote.generate")</button></form>
              }

                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th>@Messages("assignment.title")</th>
                      <th>@Messages("assignment.exercise")</th>
                      <th>@Messages("lecture.form.addionalinfo")</th>
                      <th>@Messages("assignment.status.repo")</th>
                      <th  class="text-center">@Messages("assignment.action")</th>
                      <th>@Messages("assginment.evaluation")</th>
                      <th>@Messages("assignment.expired")</th>
                    </tr>
                  </thead>
                  @for(currentassignment <- lecture.assignments){
                    <tr>
                      <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
                      <td>@currentassignment.numberofexercise</td>
                      <td>@currentassignment.addtionalinfo</td>
                      <td>@controllers.lectures.user.Lecturehome.lastUpdateStatus(semesteruser,lecture)</td>
                      <td  class="text-center">
                      @if(currentassignment.isExpired){<a href="@controllers.lectures.user.routes.Lecturehome.handinhomeworkremote(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)" title="@Messages("Assignment.handin")"><i class="fa fa-pencil-square-o"></i></a>
                        <a title="revert last upload" href="@controllers.lectures.user.routes.Lecturehome.reverthandinhomeworkremote(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)"><i class="fa fa-times"></i></a>}
                      </td>
                      <td><a data-toggle="modal" data-target="#evalr@currentassignment.id" title="@Messages("click.for.detail")">
                        @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)!=null){
                        @Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment).earndpoints/@currentassignment.totalpoints}else{
                          0/@currentassignment.totalpoints}</a></td>
                      <td>@currentassignment.deadline</td>
                    </tr>
                    @*modal for showing the assignment result*@
                    <div class="modal fade" id="evalr@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.evaluation")</h4>
                          </div>
                          <div class="modal-body">
                          @if(Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)!=null){
                            @for(exercise<-Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment).exercises){
                              <div class="row">
                                <div class="lable label-info text-center">@exercise.title</div>
                                <div class="col-xs-2"><label>@Messages("gain")</label>@exercise.earndpoints</div>
                                <div class="col-xs-2"><label>@Messages("total")</label>@exercise.totalpoints</div>
                                <blockquote class="col-xs-12"><p>@exercise.comments</p><footer>@Messages("comment")</footer></blockquote>
                              </div>
                            }

                          }else{<span class="alert alert-warning">@Messages("nohandin")</span>}
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                </table>


                <a class="btn btn-danger pull-right" href="@controllers.lectures.user.routes.Lecturehome.deleteSemesteruserfromlecture(semesteruser.lastname,lecture.semester,lecture.courseName)">@Messages("lecture.leave")</a>

              } else{

                <div class="alert alert-danger text-center">@Messages("lecture.singin")
                  <br>
                  <a class="btn btn-success text-center" href="@controllers.lectures.user.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>

                </div>
              }
            </div>

          </div>

        }
      </div>
      <div ng-app="forumapp" ng-controller="forumcontroller" class="tab-pane" id="forum">
        <div class="page-header">
          <h1>@Messages("forum.header")</h1><small>@Messages("forum.note")</small>
        </div>
        <div class="row col-md-12">
          <button ng-click="section(1)" class="btn btn-success">@Messages("forum.create")</button>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              @Messages("forum.action") <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="@controllers.lectures.routes.Lectureforum.forumredirect(lecture.semester,lecture.courseName)#forum">@Messages("thread.all")</a></li>
              <li><a href="@controllers.lectures.routes.Lectureforum.getmythreads(lecture.semester,lecture.courseName)#forum">@Messages("thread.my")</a></li>
            </ul>
          </div>
          <hr>
          <form  action="@controllers.lectures.routes.Lectureforum.createthread(user.lastname,lecture.semester,lecture.courseName)#forum" method="post" id="createthreadform" name="createthreadform" ng-show="showsection(1)" class="form-horizontal">
            <input name="title" ng-model="title" required type="text" class="form-control" placeholder="@Messages("thread.title")"><br>
            <textarea name="content" ng-model="content" required class="form-control" rows="5" placeholder="@Messages("content")"></textarea><br>
            <input ng-disabled="!(createthreadform.title.$dirty && createthreadform.content.$dirty)" class="btn btn-primary" type="submit">
          </form>
          @if(thread==null){
            <table ng-show="showsection(2)" class="table table-striped custab">
              <thead>
                <tr>
                  <th>@Messages("thread.title")</th>
                  <th>@Messages("thread.creator")</th>
                  <th>@Messages("thread.reply")</th>
                  <th>@Messages("thread.lastchange")</th>
                </tr>
              </thead>
              @if(threadlist==null){
                @for(thread<-ForumThread.findByLecture(lecture.semester,lecture)){
                  <tr>
                    <td><a href="@controllers.lectures.routes.Lectureforum.getthread(lecture.semester,lecture.courseName,thread.id)#forum">@thread.title</a></td>
                    <td><div class="pull-left">
                      <img class="media-object" src="http://www.gravatar.com/avatar/@user.userHash" height="20" width="20">
                    </div> @thread.creator.firstname @thread.creator.lastname</td>
                    <td>@thread.replyposts.size()</td>
                    <td>@thread.lastupdate</td>
                  </tr>}}

              @if(threadlist!=null){
                @for(thread<-threadlist){
                  <tr>
                    <td><a href="@controllers.lectures.routes.Lectureforum.getthread(lecture.semester,lecture.courseName,thread.id)#forum">@thread.title</a></td>
                    <td><div class="pull-left">
                      <img class="media-object" src="http://www.gravatar.com/avatar/@user.userHash" height="20" width="20">
                    </div> @thread.creator.firstname @thread.creator.lastname</td>
                    <td>@thread.replyposts.size()</td>
                    <td>@thread.lastupdate</td>
                  </tr>}
              }
            </table>
          }

          <div ng-show="showsection(2)">
          @if(thread!=null){
            <div class="well">
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" src="http://www.gravatar.com/avatar/@thread.creator.userHash" height="20" width="20">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">@thread.title</h4>
                  <p>@thread.content</p>
                  <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i>@thread.creattime</span></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-user"></i>@thread.creator.firstname @thread.creator.lastname</span></li>
                    <li>|</li>
                    <li><span class="label label-info">@Messages("thread.starter")</span></li>
                  </ul>
                </div>
              </div>
            </div><hr>
            @for(post<-thread.replyposts){
              <div class="well">
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.gravatar.com/avatar/@post.creator.userHash" height="20" width="20">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">@post.creator.firstname @post.creator.lastname</h4>
                    <p>@post.content</p>
                    <ul class="list-inline list-unstyled">
                      <li><span><i class="glyphicon glyphicon-calendar"></i>@post.creattime</span></li>
                    </ul>
                  </div>
                </div>
              </div><hr>
            }
            <form action="@controllers.lectures.routes.Lectureforum.createpost(lecture.semester,lecture.courseName,thread.id)#forum" method="post" class="form-horizontal">
              <textarea class="form-control" name="postcontent" rows="5"></textarea><br>
              <input type="submit" class="btn btn-primary pull-right">
            </form>
          }
          </div>
        </div>

      </div>
    </div>


  </div>
}