@(user:User)(semesteruser: Semesteruser)(lecture: Lecture)
@dashboard.dashboard(user){
  <div class="col-md-8 well well-sm">
    <div class="text-center">@wflash()</div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">@Messages("lecture.home.admin")</a></li>
      <li><a href="#forum" data-toggle="tab">@Messages("lecture.home.forum")</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.des")
            <span class="label label-info pull-right">@lecture.courseName</span>
            <span class="label label-success pull-right">@lecture.semester</span>
          </div>
          <div class="panel-body">
            <span class="label label-warning">@Messages("lecture.closingdate")@lecture.closingdate</span>
            <hr>
            @lecture.desription
          </div>
        </div>
        @if(lecture.localrepo){
        <div class="panel panel-default">
          <div class="panel-heading">@Messages("lecture.home.terms")
          </div>
          <div class="panel-body">
            <ul>
              <li>@Messages("lecture.numberofassignments") @lecture.totalassignment,@Messages("lecture.atleast") @lecture.requriednumberofvalidassignment @Messages("lecture.validinfo")</li>
              <li>@Messages("lecture.validassignmentinfo")@lecture.requiredpercentfovalidassignment</li>
              <li>@Messages("lecture.validexaminfo")@lecture.minimumPercentageForExamination </li>
              <li>@Messages("lecture.validoptionalinfo")@lecture.optionalassignments@Messages("lecutre.validoptionalinfo1")</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="panel panel-default">

          <div class="panel-heading">@Messages("lecture.home.homeworks")
          </div>
          <div class="panel-body">
          @Messages("lecture.home.homework")
            <br>
            @if(lecture.attendent.contains(semesteruser)){
              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>@Messages("assignment.title")</th>
                    <th>@Messages("assignment.exercise")</th>
                    <th>@Messages("lecture.form.addionalinfo")</th>
                    <th  class="text-center">@Messages("assignment.action")</th>
                    <th>@Messages("assignment.status")</th>
                    <th>@Messages("assginment.evaluation")</th>
                    <th>@Messages("assignment.expired")</th>
                  </tr>
                </thead>
                @for(currentassignment <- lecture.assignments){
                  <tr>
                    <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
                    <td>@currentassignment.numberofexercise</td>
                    <td>@currentassignment.addtionalinfo</td>
                    <td  class="text-center">
                    @if(currentassignment.isExpired){<a data-toggle="modal" data-target="#@currentassignment.id" title="@Messages("Assignment.handin")"><i class="fa fa-pencil-square-o"></i></a>
                      <a title="revert last upload" href="@controllers.lectures.user.routes.Lecturehome.reverthandinhomework(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)"><i class="fa fa-times"></i></a>}
                    </td>
                    <td>@controllers.lectures.user.Lecturehome.lastUpdateStatus(semesteruser,lecture)</td>
                    <td><a data-toggle="modal" data-target="#eval@currentassignment.id" title="@Messages("click.for.detail")">@currentassignment.gettotalearndpoint()/@currentassignment.totalpoints</a></td>
                    <td>@currentassignment.deadline</td>
                  </tr>
                  @*modal for showing handin assginment*@
                  <div class="modal fade" id="@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.handin")</h4>
                        </div>
                        <div class="modal-body">
                          <form action="@controllers.lectures.user.routes.Lecturehome.handinhomework(currentassignment.id,semesteruser.lastname,lecture.semester,lecture.courseName)" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                              <label>@Messages("lecture.action.upload")</label>
                              <input type="file" name="homeworkfile">
                            </div>
                            <div class="form-group">
                              <label>@Messages("Assignment.commit")</label>
                              <textarea class="form-control"  name="commit" rows="10"></textarea>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("lecture.form.close")</button>
                            <button type="submit" class="btn btn-primary pull-right">@Messages("lecture.form.change")</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  @*modal for showing the assignment result*@
                  <div class="modal fade" id="eval@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.evaluation")</h4>
                        </div>
                        <div class="modal-body">
                          show some results
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </table>
              <table class="table table-striped custab">
                <thead>
                  <tr>
                    <th>@Messages("assginment.validhandin.sum")</th>
                    <th>@Messages("assginment.optional.sum")</th>
                    <th>@Messages("totalperformance")</th>
                  </tr>
                </thead>
                <tr>
                  <td>@Handin.getValidHandinofstudentinlecture(lecture,semesteruser,lecture.semester).size()/@lecture.requriednumberofvalidassignment</td>
                  <td>@Handin.getOptionalAssignmentofStudentsinLecture(lecture.semester,lecture,semesteruser).size()/@lecture.optionalassignments</td>
                  <td>@Evaluation.findByLectureAndUser(lecture.semester,lecture,semesteruser).performance</td>
                </tr>
              </table>
            <a class="btn btn-danger pull-right" href="@controllers.lectures.user.routes.Lecturehome.deleteSemesteruserfromlecture(semesteruser.lastname,lecture.semester,lecture.courseName)">@Messages("lecture.leave")</a>

            } else{

              <div class="alert alert-danger text-center">@Messages("lecture.singin")
                <br>
                <a class="btn btn-success text-center" href="@controllers.lectures.user.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>

              </div>
              }
          </div>

        </div>
        } else {
          <div class="panel panel-default">
            <div class="panel-heading">@Messages("lecture.home.terms")
            </div>
            <div class="panel-body">
            @Messages("lecture.home.terms.remote")
            </div>
          </div>
          <hr>
          <div class="panel panel-default">

            <div class="panel-heading">@Messages("lecture.home.homeworks")
            </div>
            <div class="panel-body">
              <div class="textfont">@Messages("lecture.home.homework.remote")</div>
              <br>
              @if(lecture.attendent.contains(semesteruser)){
              @if(Repo.findRepoByLectureAndOwner(lecture.semester,semesteruser,lecture)!=null&&semesteruser.roles.equals(UserRoll.Students.toString)){
                @Messages("lecture.home.homework.remote.exist")<br><p class="bg-info">@Repo.findRepoByLectureAndOwner(lecture.semester,semesteruser,lecture).repopath</p>
              }else{
                <form action="@controllers.lectures.user.routes.Lecturehome.addRemoteRepotoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" method="post">@Messages("lecture.home.homework.remote.noexist") <button class="btn btn-success pull-right" type="submit">@Messages("lecture.remote.generate")</button></form>
              }

                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th>@Messages("assignment.title")</th>
                      <th>@Messages("assignment.exercise")</th>
                      <th>@Messages("lecture.form.addionalinfo")</th>
                      <th>@Messages("assignment.status.repo")</th>
                      <th>@Messages("assginment.evaluation")</th>
                      <th>@Messages("assignment.expired")</th>
                    </tr>
                  </thead>
                  @for(currentassignment <- lecture.assignments){
                    <tr>
                      <td>@currentassignment.title@if(currentassignment.uploadfile!=null){<a href="@controllers.lectures.routes.Lecturehub.getFiles(currentassignment.uploadfile)"><i class="fa fa-download"></i></a>}</td>
                      <td>@currentassignment.numberofexercise</td>
                      <td>@currentassignment.addtionalinfo</td>
                      <td>@controllers.lectures.user.Lecturehome.lastUpdateStatus(semesteruser,lecture)</td>
                      <td><a data-toggle="modal" data-target="#evalr@currentassignment.id" title="@Messages("click.for.detail")">@Handin.getHandinofassignmentofstudentinlecture(lecture.semester,lecture,semesteruser,currentassignment)/@currentassignment.totalpoints</a></td>
                      <td>@currentassignment.deadline</td>
                    </tr>
                    @*modal for showing the assignment result*@
                    <div class="modal fade" id="evalr@currentassignment.id" tabindex="-1" role="dialog" aria-labelledby="@currentassignment.id" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">@Messages("Assignment.evaluation")</h4>
                          </div>
                          <div class="modal-body">
                          show some results
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                </table>


                <a class="btn btn-danger pull-right" href="@controllers.lectures.user.routes.Lecturehome.deleteSemesteruserfromlecture(semesteruser.lastname,lecture.semester,lecture.courseName)">@Messages("lecture.leave")</a>

              } else{

                <div class="alert alert-danger text-center">@Messages("lecture.singin")
                  <br>
                  <a class="btn btn-success text-center" href="@controllers.lectures.user.routes.Lecturehome.addSemesterusertoLecture(semesteruser.lastname,lecture.semester,lecture.courseName)" type="submit" >@Messages("lecture.join")</a>

                </div>
              }
            </div>

          </div>

        }
      </div>
      <div class="tab-pane" id="forum">
        there is a forum
      </div>
    </div>


  </div>
}