@(signupForm: Form[Application.Register])

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

<h3>@Messages("signup.new")</h3>

@form(controllers.account.routes.Signup.save()) {

    <fieldset>
        @inputText(
            signupForm("id"),
            'placeholder -> Messages("Only for Students"),
            '_label -> Messages("signup.label.matrikel"),
            'class -> "form-control"

        )
        @inputText(
            signupForm("email"),
            'placeholder -> Messages("Required"),
            '_label -> Messages("signup.label.email"),
            'class -> "form-control"
        )
        @inputText(
            signupForm("lastname"),
            'placeholder -> Messages("Required"),
            '_label -> Messages("signup.label.lastname"),
            'class -> "form-control"
        )
        @inputText(
            signupForm("firstname"),
            'placeholder -> Messages("Required"),
            '_label -> Messages("signup.label.firstname"),
            'class -> "form-control"
        )
        @inputPassword(
            signupForm("inputPassword"),
            '_label -> Messages("signup.label.password"),
            'placeholder -> Messages("Required"),
            'class -> "form-control"
        )
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-9 col-sm-3">
        <input type="submit" class="btn btn-primary" value="@Messages("signup.signup")"></div>
    </div>

}

