@(user:User)(content:Html)

@main(user){
  <div class="container-fluid">
    <div class="row">
      <div class="media  col-md-12">
        <div class="media-left">
          <a href="http://www.uni-kassel.de">
            <img class="media-object" src="/assets/images/unik.png">
          </a>
          <br>
        </div>
      </div>

      <div class="panel-group col-md-2" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#myProfile" aria-expanded="true" aria-controls="collapseOne">
              @Messages("dashboard.admin.management")
              </a>
            </h4>
          </div>
          <div id="myProfile" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="list-group">
              <a href="@controllers.routes.Dashboard.admindashboard()" class="list-group-item">
                @Messages("dashboard.home")
              </a>
              <a href="@controllers.system.routes.SystemControll.usermanagementinit()" class="list-group-item">
              @Messages("dashboard.admin.user")
              </a>
              <a href="@controllers.system.routes.SystemControll.databasemanagementinit()" class="list-group-item">
              @Messages("dashboard.admin.database")
              </a>
            </div>
          </div>

        </div>
      </div>
      @content
    </div>

  </div>
}