@(user: User)

@main(user){
  <div class="jumbotron vertical-center">
    <div class="container">
      <div class="page-header">
      <h1>Master Project: <small>Homework Management System with Git Support and hierarchical Filedatabase for Datamanagement</small> </h1>
</div>
      <p>Support Features:</p>

      <ul>
        <li>Document the Uploaded Homework with Git</li>
        <li>Dynamic Datamanagement, easy to backup and manage the data source</li>
        <li>Support Gravatar</li>
        <li>Message System</li>
        <li>SocialNetwork (Friend List,Message Exchange)</li>
      </ul>
      <br/>

      <p>Used Works:</p>

      <ul>
        <li><a href="https://github.com/yesnault/PlayStartApp">PlayStartApp from Yesnault</a> as a basis for the login control</li>
        <li><a href="http://bootsnipp.com/snippets/featured/login-amp-password-reminder">"Recover Password Form" from bootsnipp.com</a> was used in Recover Password
        </li>
        <li><a href="https://css-tricks.com/perfect-full-page-background-image/">Embeded Background Image</a></li>
      </ul>
    </div>
  </div>
}