@(loginForm: Form[Application.Login])
@import helper._
@implicitFieldConstructor = @{
    FieldConstructor(loginInput.render)
}
@if(loginForm != null) {
    @form(routes.Application.authenticate()) {

        @if(loginForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-danger">@loginForm.globalError.message</span>
            </p>
        }
        <form>
            @inputText(
                loginForm("email"),
                'placeholder -> Messages("email"),
                'class -> "form-control"
            )
            @inputPassword(
                loginForm("password"),
                'placeholder -> Messages("password"),
                'class -> "form-control"
            )

            <button type="submit" class="btn btn-success">@Messages("signin.signin")</button>
            <small><a href="@controllers.account.routes.Reset.ask">@Messages("forgot.password")</a></small>
        </form>



    }
}